<mc-loading *ngIf="isLoading$ | async"></mc-loading>

<mc-error-message *ngIf="error$ | async" [errorMessage]="error$"></mc-error-message>


<div *ngIf="feed$ | async">
  <div class="article-preview" *ngFor="let article of (feed$ | async)?.articles">
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" />
      </a>
      <div class="info">
        <a [routerLink]="['/profiles', article.author.username]" class="author">
          {{ article.author.username }}
        </a>
        <span class="date">{{ article.createdAt }}</span>
      </div>
      <div class="pull-xs-right">
        ADD TO FAVORITES
      </div>
    </div>
    <a [routerLink]="['/aricles', article.slug]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <span>Read more..</span>
      <mc-tag-list [tags]="article.tagList"></mc-tag-list>
    </a>
  </div>
  <mc-pagination 
  [total]="(feed$ | async)?.articlesCount" 
  [limit]="limit" 
  [url]="baseUrl"
  [currentPage]="currentPage"
  ></mc-pagination>
</div>