
<div class="home-page">
  <mc-banner></mc-banner>
  <div class="container page">
    <div class="row">
    <div class="col-md-9">
      FEED TOGGLER
      <mc-feed [apiUrl]="apiUrl"></mc-feed>
    </div>
    <div class="col-md-3">
      <mc-populat-tags></mc-populat-tags>
    </div>
  </div>
</div>