<mc-loading *ngIf="isLoading$ | async"></mc-loading>
<mc-error-message *ngIf="error$ | async"></mc-error-message>

<div class="sidebar" *ngIf="popularTags$ | async">
  <p>Popular Tags</p>
  <div class="tag-list">
    <ng-container *ngFor="let tag of popularTags$ | async">
      <a 
      [routerLink]="['/tags', tag]"
      class="tag-default tag-pill"
      >
        {{tag}}
      </a>
    </ng-container>
  </div>
</div>