<ul class="pagination">
  <li
    class="page-item"
    *ngFor="let page of pages"
    [ngClass]="{ active: currentPageProps === page }"
  >
    <a class="page-link" [routerLink]="urlProps" [queryParams]="{ page: page }">
      {{ page }}
    </a>
  </li>
</ul>
